{% extends 'base.html.twig' %}

{% block title %}To do list{% endblock %}

{% block body %}
 <header>

        <div class="logo">[logo]</div>

        <div class="user-info">[pseudo] <button>logout</button></div>

    </header>

    <div class="split-container">

        <div class="sidebar" id="sidebar">

            <div class="sidebar-section">Projets</div>

            <div class="sidebar-section">Archives</div>

        </div>

        <div class="main" id="main">[liste des tâches]</div>

    </div>

    <script src="../../assets/userpage.js"></script>


{% endblock %}
